/* Style sheet for JKP Toshokan */

@font-face {font-family: DroidSans;src: url('/assets/fonts/DroidSans.woff');}
@font-face {font-family: OpenSans-Regular;src: url('/assets/fonts/OpenSans-Regular.woff');}
@font-face {font-family: RobotoSlab-Regular;src: url('/assets/fonts/RobotoSlab-Regular.woff');}

/* html */

/* Made issues with background *, *::before, *::after {box-sizing: border-box;} */
html, body {font-family: DroidSans;background-color: #f2c9e4;padding: 0;margin: 0;font-size: 1em;line-height: 1.45;color: #3e3e3e;}

a {color: #aA30a0;}
a:visited {color: #408F6F;}
a:hover {color: #dcdcdc;}

p {margin: 1.3em;}

figure {margin: 0;text-align: center;}
figure > img {max-width: 100%;}

div.clear {clear: both;}

.pageinfo {
    background-image: linear-gradient(bottom, rgba(207,232,209,0.4) 19%, rgba(245,223,169,0.4) 54%);
    background-image: -o-linear-gradient(bottom, rgba(207,232,209,0.4) 19%, rgba(245,223,169,0.4) 54%);
    background-image: -moz-linear-gradient(bottom, rgba(207,232,209,0.4) 19%, rgba(245,223,169,0.4) 54%);
    /* background-image: -webkit-linear-gradient(bottom, rgba(207,232,209,0.4) 19%, rgba(245,223,169,0.4) 54%); */
    background-image: -ms-linear-gradient(bottom, rgba(207,232,209,0.4) 19%, rgba(245,223,169,0.4) 54%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.19, rgba(255,214,240,0)), color-stop(0.54, rgba(207,232,209,0.4)));
    display: table;
    padding: 12px 24px;
    border-radius: 5px;
    text-align: justify;
}

/* for mobile*/
@media only screen and (min-width: 41.875em) {


}

/* Headings */

h1 {
    font-family: DroidSans;
}

h2 {
    font-family: DroidSans;
    font-size: 1.6em;
}

h3 {
    font-family: DroidSans;
}

h1.titleen {
    margin:0;
}

h2.titlejp {
    margin:0;
}

blockquote {
    font-weight: bold;
}

/* divs-for-menu-and-contents */
div#contents {width: 100%;max-width: 976px;margin: 0 auto;min-width: 900px;}
div#bottom {color: black;padding: 5px 0 5px;text-align: center;background: #FFF255;border-top: 2px solid #543381;margin-left: -25px;margin-right: -25px;border-radius: 0 0 12px 12px;margin-top: 10px;font-size: 1em;font-family: Arial;font-weight: bold;text-shadow: 1px 1px 1px rgba(230, 213, 188, 1);line-height: 1.4em;}
div#bottom a {}
div#main {background-color: white;background-image: url('/assets/images/headgirl01.png');background-repeat: no-repeat, repeat-y;background-position: top center;width: 100%;max-width: 881px;margin: 0 auto 25px;box-shadow: 0px 0px 4px #303030;border-radius: 0 0 15px 15px;padding: 326px 25px 0;}
div#mainmenu {color: #fff;background-color: #e53e7f;width: 100%;max-width: 938px;padding: 0 56px;position: absolute;top: 280px;margin-left: -8px;z-index: 100;box-shadow: 3px 3px 3px #a0a0a0;text-align: center;font-size: 2.5em;transform: rotate(3.3deg);-ms-transform: rotate(3.3deg); /* IE 9 */-webkit-transform: rotate(3.3deg); /* Safari and Chrome */-o-transform: rotate(3.3deg); /* Opera */-moz-transform: rotate(3.3deg); /* Firefox */}
@media screen and (min-width: 61em) {
	div#mainmenu {margin-left: 20px;}
}
div#mainmenu  a.menuitem {margin: 0 20px;color: black;text-shadow: 0 0 3px white;text-decoration: none;font-family: Tekton Pro, Tempus Sans ITC, Comic Sans;display: block;float: left;letter-spacing: 4px;}
div#mainmenu a.menuitem.selected, div#mainmenu a.menuitem:hover {color: white;text-shadow: none;}
div.submenu {padding-bottom: 40px;position: absolute;top: 316px;z-index: 99;float: left;text-align: center;font-size: 1.1em;transform: rotate(2.3deg);-ms-transform: rotate(2.3deg); /* IE 9 */-webkit-transform: rotate(2.3deg); /* Safari and Chrome */-o-transform: rotate(2.3deg); /* Opera */-moz-transform: rotate(2.3deg); /* Firefox */}
div.submenu  a.submenuitem {background-color: #fc7451;margin: 2px 6px;padding: 0 4px;color: black;text-align: left;text-shadow: 0 0 3px white;text-decoration: none;white-space: nowrap;font-family: Tekton Pro, Tempus Sans ITC, Comic Sans;display: block;float: left;letter-spacing: 4px;clear: both;font-style: italic;border-radius: 5px;}
div.submenu a.submenuitem.selected, div.submenu a.submenuitem:hover {color: white;text-shadow: none;}
div#page {margin-top: 3em;}
div#toplnk {width: 100%;max-width: 976px;margin: 0 auto; float:left; height: 315px;}

.MenuContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.MenuContainer li {
  font: 300 14px/1.6 Verdana;
  border-bottom: 1px solid #ccc;
}

.MenuContainer li:last-child {
  border: none;
}

.MenuContainer li a {
  text-decoration: none;
  color: #000;
  display: block;
}

.MenuContainer li a:hover {
  font-size: 16px;
  background: linear-gradient(to right,  rgb(247, 204, 234) 0%,rgba(0,0,0,0) 100%);
  font-weight:bold;
}


/* News-page */
div#leftside {float: left;width: 100%;padding-right: 18px}
div#leftside p {}
div.entry {margin-bottom: 1em;padding: 0px 0.5em 0.5em;/* box-shadow: 2px 2px 1px #7B7B7B; *//* border: 1px solid #B6B6B6; */}
.marker {background-image: linear-gradient(bottom, rgba(207,232,209,0.4) 19%, rgba(245,223,169,0.4) 54%);background-image: -o-linear-gradient(bottom, rgba(207,232,209,0.4) 19%, rgba(245,223,169,0.4) 54%);background-image: -moz-linear-gradient(bottom, rgba(207,232,209,0.4) 19%, rgba(245,223,169,0.4) 54%);background-image: -webkit-linear-gradient(bottom, rgba(207,232,209,0.4) 19%, rgba(245,223,169,0.4) 54%);background-image: -ms-linear-gradient(bottom, rgba(207,232,209,0.4) 19%, rgba(245,223,169,0.4) 54%);background-image: -webkit-gradient(	linear,	left bottom,	left top,	color-stop(0.19, rgba(207,232,209,0.4)),	color-stop(0.54, rgba(245,223,169,0.4)));box-shadow: 2px 2px 4px 0px rgba(155, 125, 135, 0.5); /*0 0 4px 5px rgba(155, 125, 135, 0.2);*/display: table;padding: 12px 55px;margin-left: 22px;border-radius: 5px;margin-bottom: 1.5em;line-height: 0.9em;}
div.newsinfo {font-family:RobotoSlab-Regular;background: #dcdcdc;border-radius: 6px;padding: 2px 0 2px 15px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcdcdc+0,000000+100&0.65+0,0+100 */background: -moz-linear-gradient(left,  rgba(220,220,220,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(left,  rgb(247, 204, 234) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right,  rgb(247, 204, 234) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6dcdcdc', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */}
.marker h3 {margin-top:0;}

/* Magazines-page */
div.magazine-stack {width: 861px;margin: 0px 0px 30px 20px;overflow: hidden;}
div.magazine-stack div.info {font-family: Arial;font-size: 0.8em;color: #444;text-align: left;line-height: 13pt;margin: 6px 0 0;padding: 5px;background: #f9f7e0;border-left: 3px solid #444;border-radius: 3px;}
div.magazine-stack div.info h3 { font-weight: bold; font-size: 11pt; color: #444; border-bottom: 1px dotted #444; margin: 0 0 2px; }
div.magazine-stack div.info div.descript { margin: 0 0 15px; padding: 0; text-align: justify;}
div.magazine-stack div.info p { margin: 0; padding: 0; }
div.magazine-stack div.info span { font-weight: bold; padding-right: 5px;}
div.magazine-stack div.info ul { margin: 0 0 0 5px; padding: 0; }
div.magazine-stack div.info ul li { list-style: square; margin: 0 0 0 15px; padding: 0; }
div.magazine div.cover { position: relative; overflow: visible; float: left; height: 235px; width: 220px; }
div.magazine div.info {float: left;width: 500px;}
div.magazine img.img3 { position: absolute; top: 0; left: 22px; width: 130px; border: 2px solid #069; box-shadow: 0 0 5px 1px #444; }
div.magazine img.img2 { position: absolute; top: 20px; left: 42px; width: 130px; border: 2px solid #069; box-shadow: 0 0 5px 1px #444; }
div.magazine img.img1 {position: absolute;top: 40px;left: 62px;width: 130px;border: 2px solid #069;box-shadow: 0 0 5px 1px #444;}

/* Magazines-subpage-table-class-table */
table.manga {font-size: 0.8em;width: 90%;border-collapse:collapse;border-spacing:0;border:0;text-align:left;font-family: OpenSans-Regular;margin: 0 auto;background-color: white;}
table.manga th {color: white;background: #fa6872;padding: 0.7em;font-size: 1em;}
table.manga tr:nth-child(even) {background: #f2c9e4}
table.manga tr:nth-child(odd) {background: #FFF}
table.manga td.colored {color: #fa6872;font-weight: bold;}
table.manga td.cim {width: 45%; padding: 5px; text-align:left;}
table.manga td.tank {width: 35%;}
table.manga a:hover { color: #0078d6 !important; font-weight: bold; }
table.manga a.colored:link { color: #ff00cc;}
table.manga a:link { color: #000000; text-decoration: none; }
table.manga a:visited {  color: #000000; text-decoration: none;  }
div.mag-date {font-size: 12px;width: 150px;font-weight: bold;}
span.comment {font-size: 10px;font-style: italic;}

/* Magazines-subpage-table-class-comment */
table.comment {font-size: 14px;width:100%;border-collapse:collapse;border-spacing:0;margin-bottom:10px;border: 1px solid rgb(215, 215, 215);background-color: white;}
table.comment th, td { padding: 3px; border-bottom: 1px solid rgb(218, 218, 218);}
table.comment td.mag { width:12%; }
table.comment td.cim { width:35%; }
table.comment td.colored { color: #ff00cc; }
table.comment div.mag-date {font-size: 1em;}
table.comment img {border:1px solid #000; height:50px;}

.wipp {display: block;margin-left: 22px;text-align: center;}
.wipp img {border: 2px solid #0078d6;-moz-box-shadow: 0 0 5px 1px #444;height: 160px;margin: 0px 10px 10px 10px;}

/* Magazines-subpage-table-cover-gallery */
div.cgwrapper {width:100%;text-align:center;}
div.cgcenter {display:inline-block;*display:inline;/* IE*/*zoom:1;/* IE*/overflow:hidden;text-align:left;}
div.kepszoveg {float: left;font-style: italic;height: 245px;margin-bottom: 0;margin-left: 10px;margin-right: 10px;margin-top: 0;text-align: center;font-weight: bold;color: #444;}
div.kepszoveg img {border: 2px solid #069;background: #444; -moz-box-shadow: 0 0 5px 1px #444;-webkit-box-shadow: 0 0 5px 1px #444;box-shadow: 0 0 5px 1px #444;height: 190px;}
div.kep {float: left;margin-bottom: 0;margin-left: 10px;margin-right: 10px;margin-top: 0;text-align: center;}
div.kep img {border: 2px solid #069;background: #444; -moz-box-shadow: 0 0 5px 1px #444;-webkit-box-shadow: 0 0 5px 1px #444;box-shadow: 0 0 5px 1px #444;height: 190px;}

/* Magazines-subpage-atogaki */
div.atogaki {overflow: auto}
div.atogaki img {display: block;float: left;border: 2px solid #069;background: #444; -moz-box-shadow: 0 0 5px 1px #444;-webkit-box-shadow: 0 0 5px 1px #444;box-shadow: 0 0 5px 1px #444;height: 190px;}
div.atogaki p {font-family: OpenSans-Regular;font-size: 0.9em;text-align:justify;padding: 0em 0em 0em 10em;margin: 0em 0em 1em 0em;font-weight: bold;}

/* Tankoubon-page */
div.tankimg {float: left;height: 222px;margin-bottom: 0;margin-left: 10px;margin-right: 10px;margin-top: 5px;text-align: center;color: #ff6c74;font-weight: bold;}
div.tankimg img {border: 2px solid #069;background: #444;-moz-box-shadow: 0 0 5px 1px #444;-webkit-box-shadow: 0 0 5px 1px #444;box-shadow: 0 0 5px 1px #444;height: 190px;border-radius: 10px;}

div.tankimgsmall {float: left;height: 165px;margin-bottom: 0;margin-left: 10px;margin-right: 10px;margin-top: 5px;text-align: center;color: #ff00cc;font-weight: bold;margin-bottom: 1em;}
div.tankimgsmall img {border: 2px solid #069;background: #444;-moz-box-shadow: 0 0 5px 1px #444;-webkit-box-shadow: 0 0 5px 1px #444;box-shadow: 0 0 5px 1px #444;height: 150px;border-radius: 10px;}

/* Sub-Tankoubon-page */
div.tank_cover {/* margin-bottom: 0px; *//* margin-left: 5px; *//* margin-right: 5px; *//* margin-top: 0px; *//* text-align: center; *//* padding: 0px 0px 10px 75px; */}
div.tank_cover img {border: 2px solid #069;background: #444;-moz-box-shadow: 0 0 5px 1px #444;-webkit-box-shadow: 0 0 5px 1px #444;box-shadow: 0 0 5px 1px #444;height: auto;width: auto;max-width: 90%;}

/* Sub-Tankoubon-page-illustration-column */
div.illcol {overflow: auto}
div.illcol img {display: block;float: left;height:190px;margin:0;}
div.illcol p {font-family: OpenSans-Regular;font-size: 0.9em;text-align:justify;padding: 0em 0em 0em 22em;margin: 0em 0em 1em 0em;font-weight: bold;}

/* Sub-Tankoubon-page-tank-title */
div.tank_title_en {*display:inline;/* IE*/*zoom:1;/* IE*/padding-bottom: 15px;}
div.chwrapper {width: 95%;/* margin-left: 50px; */margin-bottom: 15px;}
div.chimg {float: left;font-style: italic;margin-left: 10px;margin-top: 10px;margin-right: 15px;}
div.chimg img {border: 2px solid #069;background: #444;-moz-box-shadow: 0 0 5px 1px #444;-webkit-box-shadow: 0 0 5px 1px #444;box-shadow: 0 0 5px 1px #444;height: 120px;}
div.chtitle {background-color: #ffffff;border-radius: 10px;border: 1px solid #e53e7f;padding: 15px;width: 90%;/* height: 110px; */min-height: 110px;}
div.chtitle span.jptitle {color: rgb(51, 141, 211);font-size: 1.2em;}
div.chtitle span.entitle {margin: 0 0 15px;padding: 0;font-size: 1.5em;font-weight: bold;font-style: italic;color: rgb(12, 139, 57);text-shadow: 1px 1px 1px #dcdcdc;}
div.chmag {text-align:left;margin-left: 10px;font-style: italic; font-weight: bold;color: rgb(229, 62, 127);font-size: 1.1em;}

/* anthology-page-test */
div.anthology-stack {width: 861px;margin: 0px 0px 30px 20px;overflow: hidden;}
div.anthology-stack div.anthology_info {font-family: OpenSans-Regular;font-size: 0.8em;color: #444;text-align: left;line-;line-height: 13pt;margin: 6px 0 0;padding: 5px;background: #f9f7e0;border-left: 3px solid #444;border-radius: 3px;}
div.anthology-stack div.anthology_info h3 { font-weight: bold; font-size: 11pt; color: #444; border-bottom: 1px dotted #444; margin: 0 0 2px; }
div.anthology-stack div.anthology_info div.anthology_descript { margin: 0 0 15px; padding: 0; text-align: justify;}
div.anthology-stack div.anthology_info p { margin: 0; padding: 0; }
div.anthology-stack div.anthology_info span { font-weight: bold; padding-right: 5px;}
div.anthology-stack div.anthology_info ul { margin: 0 0 0 5px; padding: 0; }
div.anthology-stack div.anthology_info ul li { list-style: square; margin: 0 0 0 15px; padding: 0; }
div.anthology div.anthology_cover { position: relative; overflow: visible; float: left; height: 235px; width: 220px; }
div.anthology div.anthology_info {float: left;width: 500px;}
div.anthology img.img3 { position: absolute; top: 0; left: 22px; width: 130px; border: 2px solid #069; box-shadow: 0 0 5px 1px #444; }
div.anthology img.img2 { position: absolute; top: 20px; left: 42px; width: 130px; border: 2px solid #069; box-shadow: 0 0 5px 1px #444; }
div.anthology img.img1 { position: absolute; top: 40px; left: 62px; width: 130px; border: 2px solid #069; box-shadow: 0 0 5px 1px #444;}

/* about-page */

div.about {display: block;}
div.aboutpic {float: left;margin-bottom: 0;margin-left: 1em;margin-right: 1em;margin-top: 0;text-align: center;}
div.aboutpic img {border: 2px solid #069;background: #444;-moz-box-shadow: 0 0 5px 1px #444;-webkit-box-shadow: 0 0 5px 1px #444;box-shadow: 0 0 5px 1px #444;height: 170px;}
div#jkpsign {float:right;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: RobotoSlab-Regular, Meiryo;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

.Menu {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
}

/* Style the close button */
.topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.MenuContainer {
    font-size: 1em;
    color: aliceblue;
}

.MenuContainer li {
    list-style-type: none;
}

.topright:hover {color: red;}

/* anthology */
div.awrapper {display: flex;flex-wrap: wrap;/* width: 90%; *//* margin-bottom: 20px; *//* border: 5px solid #f0bfbb;height: 270px; */padding: 1em 2em 1.5em 2em;/* border-bottom: 2px dotted #bdbdbd; *//* margin: 2em 2em 2em 2em; */}
div.antimg {width: 160px;padding-top: 20px;}
div.antimg img {border: 2px solid #069;background: #444;-moz-box-shadow: 0 0 5px 1px #444;-webkit-box-shadow: 0 0 5px 1px #444;box-shadow: 0 0 5px 1px #444;height: 205px;}
div.antch {width: 160px;padding-top: 20px;}
div.antch img {border: 2px solid #069;background: #444;-moz-box-shadow: 0 0 5px 1px #444;-webkit-box-shadow: 0 0 5px 1px #444;box-shadow: 0 0 5px 1px #444;height: 205px;}
div.antdesc {flex: 1 0 100%;}
@media screen and (min-width: 40.875em) {
	div.antdesc {flex: 1;padding-left: 1em;}
}
span.antheng {font-weight: bold;font-size: 1.5em;/* color: #59a576; */}
span.antjap {font-weight: bold;font-size: 1.3em;color: #fa6872;margin: 0px 0px 4px;/* border-bottom: 2px solid #DDD; */text-align: left;}
div.anthtitle {border-bottom: 2px solid #d1d1d1;margin-bottom: 1em;}
table.anthdesc {font-size: 0.8em;width: 100%;}
table.anthdesc td.header {font-weight:bold;width:25%;}


.magazine_header {
}

div.magazine_header img {float:left; padding-right: 1em;}
div.magazine_header h2 {font-size: 1.9em; margin-bottom:0em;}
div.magazine_header p {font-size: 1.1em; margin-top:0em;}